.full {
    width: 100%;
}

.half {
    width: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.expand {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

.form-input  {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 5px 0;
}

 .form-input input, .form-input select, .form-input div {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 35px;
}

.form-input label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.input-chbx input {
    display: inline-block;
    width: auto;
    height: auto;
    position: relative;
    top: -1px;
    vertical-align: top;
}

.danger {
    border: 2px solid red;
}

.error-msg {
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    list-style: none;
    max-width: 440px;
    padding: 3px 10px;
    background: pink;
}

.error-display {
    width: 70%;
    max-width: 440px;
    margin: 0 auto;
    padding: 0;
}